#content {
    margin-top: 30px;
}

.terminal-card {
    margin-top: 50px;
}

.description-container {
    padding: 20px !important;
}

fieldset {
    text-align: center;
}

#rss-form {
    display: none;
    margin-bottom: 10px;
}

#form-error {
    margin-top: 10px;
    color: var(--error-color);
}

.card-button {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
}

.terminal-alert {
    position: relative;
}
